nav {
    display: flex;
    .link {
        width: 100px;
        height: 50px;
        border-radius: 10px 10px 0px 0px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    a {
        margin-right: 10px;
        text-decoration: none;
        color: black;
    }

    .active {
        background: gray;
    }
}


