<div>
  	<nav>
		<div class="link"
			[routerLink]="[ 'navigator' ]" 
			routerLinkActive="active"
			[queryParams]="{'tab' : '0'}">
			<a>Income</a>
		</div>
		<div class="link" 
			[routerLink]="[ 'navigator' ]" 
			routerLinkActive="active"
			[queryParams]="{'tab' : '1'}" 
		>
			<a>Outcome</a>
		</div>
		<div class="link"  
			[routerLink]="[ 'navigator' ]" 
			routerLinkActive="active"
			[queryParams]="{'tab' : '2'}" 
		>
			<a>Loans</a>
		</div>
		<div class="link" 
			[routerLink]="[ 'navigator' ]" 
			routerLinkActive="active"
			[queryParams]="{'tab' : '3'}" 
		>
			<a>Investment</a>
		</div>
  	</nav>
  	<router-outlet></router-outlet>
  
</div>